c*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
 /* Header Section */
 header{
    background-image: url(../img/background_1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    margin-top: -2px;
 }

 /* navbar */
 .navbar-brand{
     text-transform: uppercase;
     font-weight: 900;
     font-size: 25px;
 }
.navbar-brand span{
    color: tomato;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    margin-left: 30px;
}
.navbar {   
    padding-top: 90px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin-left: 30px;
}


/* Idea Section */
.idea-text h1{
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0 20px;
}
.idea-text span{
    color: #8b8b8b;
}

.idea-img img {
    width: 85%;
    height: 85%;
    border-radius: 23px;
}
.btn{
    padding: 7px 29px;
    background-image: linear-gradient(to left,#fa261e, #FF736E,#FFB170);
    border: none;
    border-radius: 3px;
    color: #fff;
    background-size: 200%;
    transition: 0.6s;
}
.btn:focus{
    box-shadow: none;
}
.btn:hover{
    background-position: right;
    font-size: 17px;
    color: #000;
}

/* Service Section */
.service {
    background-image: url(../img/background_2.png);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position-x: -4px;
    background-position-y: -140px;
    padding: 40px 0 80px;
}
.service h1{
    text-align: center;
    font-weight: 700;
    padding: 20px 0 20px;
}
.service-row{
    margin-top: 50px;
}
.service-card{
    padding: 9px;
    border-radius: 27px;
    border: none;
    box-shadow: 1px 3px 10px -1px lightgrey;
    width: 68%;
}
.service-card-body i{
    color: tomato;
    font-size: 50px;
    margin: 10px 0 30px;
}
.service-card-body h6{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}
.service-card-body p{
    color: lightgray;
    font-size: 12px;
}
.card-two{
    background: linear-gradient(170deg,#FF736E,#FFB170);
}
.card-two i{
    color: #fff;
}
.card-two h6{
    color: #fff;
}
.card-two p{
    color: #fff;
}
.service-btn{
    margin-top: 60px;
}

/* Works Section */
.work {
    padding: 70px 0 90px;
    background-image: url(../img/background_3.png);
    background-position: right;
    background-size: 94% 112%;
    background-repeat: no-repeat;
    background-position-y: -44px;
}
.work-col img{
    width: 70%;
    height: 380px;
    border-radius: 20px;
}
.work-text h1{
    font-weight: bolder;
    line-height: 60px;
    letter-spacing: 1px;
    padding: 20px 0 20px;
}


/* Testimonial Section  */
.testimonial{
    margin: 50px 0 60px;
    background-image: url(../img/background_5.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 160px;
    padding: 50px 0 50px;
}
.testimonial h1{
    text-transform: capitalize;
    font-weight: 700;
    padding: 50px 0 60px;
}
.testimonial h4{
    color: tomato;
}
.testimonial img{
    width: 30%;
    text-align: center;
    margin: 25px;
}
.testimonial-text{
    margin-top: 25px;
}
.testimonial-col{
    height: 350px;
    /* padding-top: 20px; */
}
.testimonial-col-2{
    padding: 10px;
}
.custom-circle{
    height: 83px;
    width: 95px !important;
}
.testimonial-card {
    width: 100% !important;
    padding: 20px;
    height: 295px;
    margin-top: 24px;
    border: none;
    box-shadow: 1px 0px 17px lightgrey;
}

/* Contact Section */
.contact{
    padding: 120px 0 180px;
    background-image: url(../img/background_4.png);
    background-size: 100% 104%;
    background-repeat: no-repeat;
    
}
.contact input {
    border: none;
    outline: none;
    color: lightsalmon;
    box-shadow: 1px 7px 8px lightgrey;
    padding: 7px 20px 10px;
    margin-right: 25px;
    width: 40%;
    border-radius: 20px;
}
::placeholder{
    color: tomato;
}
.contact .btn{
    border-radius: 20px;
}
.contact .btn:hover{
    background: linear-gradient(to right,#FF736E,#FFB170);

}
    

/* Footer Section */
.page-footer{
    background: linear-gradient(to right,#FF736E,#ffb070e5);
    
}
.page-footer h1{
 font-weight: 600;
 padding: 60px 0 50px;
}
.page-footer span{
    color: #fff;
}
.page-footer h5{
    color: #fff;
}
.page-footer p{
    color: #fff;
}
.page-footer i{
    color: #fff;
    padding: 20px;
    width: 62px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all .4s;
}
.page-footer i:hover{
    background: #fff;
    border: 2px solid #fff;
    color: tomato;
    transform: rotate(360deg);
    box-shadow: 2px 2px 24px #fff;
}
.page-footer a{
    color: #fff;
}
.page-footer a:hover{
    text-decoration: none;
    color: turquoise;
}


/* Responsive */

/* Small devices (landscape phones, 576px and up) */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    
    /* Header */
    header {
        background-image: url(../img/background_1.png);
        background-size: 136%;
        background-repeat: no-repeat;
        background-position-x: -38px;
        background-position-y: 15px;
        margin-top: -51px;
        margin-top: -25px;
    }

    /* navbar */
    .navbar-light .navbar-nav .nav-link {
        color: tomato;
        margin-left: 30px;
    }
    /* Idea Section */
    .idea-img img {
        width: 85%;
        height: 85%;
        border-radius: 23px;
        margin-top: 15px;
    }

    /* Service Section */
    .service {
        background-image: url(../img/background_2.png);
        background-size: 105%;
        background-repeat: no-repeat;
        background-position-x: -6px;
        background-position-y: -4px;
        padding-bottom: 20px;
    }
    .service h1 {
        text-align: center;
        font-size: 23px;
        font-weight: 700;
    }

    .service-card {
        padding: 9px;
        border-radius: 27px;
        border: none;
        box-shadow: 1px 3px 10px -1px lightgrey;
        width: 100%;
        margin-top: 15px;
    }

    /* Work Section */
    .work-col img {
        width: 100%;
        height: 380px;
        border-radius: 20px;
    }
    .work-text h1 {
        font-weight: bolder;
        font-size: 40px;
        line-height: 55px;
        margin-top: 20px;
    }
    .work {
        padding: 80px 0 20px;
        background-image: url(../img/background_3.png);
        background-position: right;
        background-size: 108% 65%;
        background-repeat: no-repeat;
        background-position-y: 57px;
    }

    /* Testimonial Section */
    .testimonial {
        margin: 50px 0 60px;
        background-image: url(../img/background_5.png);
        background-repeat: no-repeat;
        background-size: 180%;
        background-position-y: 813px;
    }
    .testimonial-text{
        margin-top: 25px;
    }
    .testimonial h1 {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 30px;
        padding: 50px 0 60px;
    }

   

    /* Contact Section */
    .contact h1{
        font-size: 30px;
        font-weight: 700;
    }
    .contact input {
        border: none;
        outline: none;
        color: lightsalmon;
        box-shadow: 1px 7px 8px lightgrey;
        padding: 7px 20px 10px;
        margin-right: 25px;
        width: 90%;
        margin-bottom: 30px;
        border-radius: 20px;
    }
    .contact .btn {
        border-radius: 20px;
        width: 35%;
    }
    .contact{
        padding: 120px 0 120px;
        background-image: url(../img/background_4.png);
        background-size: 100% 104%;
        background-repeat: no-repeat;
    }

    /* Footer Section */
    .justify-content-end-t {
        /* -webkit-box-pack: end!important; */
        
        justify-content: center !important;
        /* justify-content: flex-end!important; */
    }
    
}
@media (min-width: 576px) {
    
    /* Header */
    header {
        background-image: url(../img/background_1.png);
        background-size: 136%;
        background-repeat: no-repeat;
        background-position-x: -38px;
        background-position-y: -22px;
        margin-top: -51px;
    }

    /* Navbar */
    .navbar-light .navbar-nav .nav-link {
        color: tomato;
        margin-left: 30px;
    }
    /* Idea Section */
    .idea-img img {
        width: 85%;
        height: 85%;
        border-radius: 23px;
        margin-top: 15px;
    }

    /* Service Section */
    .service-card {
        padding: 9px;
        border-radius: 27px;
        border: none;
        box-shadow: 1px 3px 10px -1px lightgrey;
        width: 100%;
        margin-top: 15px;
    }
    .service {
        background-image: url(../img/background_2.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-x: -4px;
        background-position-y: -73px;
        padding-bottom: 20px;
    }
    .service h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }

    /* Work Section */
    .work-col img {
        width: 100%;
        height: 380px;
        border-radius: 20px;
    }
    .work-text h1 {
        font-weight: bolder;
        line-height: 60px;
        font-size: 50px;
        margin-top: 20px;
    }
    .work {
        padding: 40px 0 50px;
        background-image: url(../img/background_3.png);
        background-position: right;
        background-size: 103% 80%;
        background-repeat: no-repeat;
        background-position-y: -44px;
    }

    /* Testimonial Section */
    .testimonial {
        margin: 50px 0 60px;
        background-image: url(../img/background_5.png);
        background-repeat: no-repeat;
        background-size: 155%;
        background-position-y: 710px;
    }
    .testimonial-text{
        margin-top: 25px;
    }

    /* Contact Section */
    .contact input {
        border: none;
        outline: none;
        color: lightsalmon;
        box-shadow: 1px 7px 8px lightgrey;
        padding: 7px 20px 10px;
        margin-right: 25px;
        width: 90%;
        margin-bottom: 30px;
        border-radius: 20px;
    }
    .contact .btn {
        border-radius: 20px;
        width: 35%;
    }
    .contact{
        padding: 120px 0 120px;
        background-image: url(../img/background_4.png);
        background-size: 100% 104%;
        background-repeat: no-repeat;
        
    }
    
    /* Footer Section */
    .justify-content-end-t {
        /* -webkit-box-pack: end!important; */
        
        justify-content: center !important;
        /* justify-content: flex-end!important; */
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* Header */
    header {
        background-image: url(../img/background_1.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-x: right;
        margin-top: -2px;
    }

    /* Navbar */
    .navbar-light .navbar-nav .nav-link {
        color: tomato;
        margin-left: 30px;
    } 

    /* Idea Section */
    .idea-img img {
        margin-top: 15px;
    }

    /* Service Srction */
    .service-card {
        padding: 9px;
        border-radius: 27px;
        border: none;
        box-shadow: 1px 3px 10px -1px lightgrey;
        width: 100%;
    }

    /* Work Section */
    .work-col img {
        width: 100%;
        height: 380px;
        border-radius: 20px;
    }
    .work-text h1 {
        font-weight: bolder;
        line-height: 60px;
        font-size: 45px;
        margin-top: 20px;
    }
    .work {
        padding: 60px 0 50px;
        background-image: url(../img/background_3.png);
        background-position: right;
        background-size: 103% 112%;
        background-repeat: no-repeat;
        background-position-y: -44px;
    }

    /* Testimonial Section */
    .testimonial {
        margin: 50px 0 60px;
        background-image: url(../img/background_5.png);
        background-repeat: no-repeat;
        background-size: 140%;
        background-position-y: 435px;
    }
    .testimonial-text{
        margin-top: 200px;
    }

    /* Contact Section */
    .contact input {
        border: none;
        outline: none;
        color: lightsalmon;
        box-shadow: 1px 7px 8px lightgrey;
        padding: 7px 20px 10px;
        margin-right: 25px;
        width: 40%;
        border-radius: 20px;
    }
    .contact .btn {
        border-radius: 20px;
        width: auto;
    }
    .contact{
        padding: 120px 0 120px;
        background-image: url(../img/background_4.png);
        background-size: 100% 104%;
        background-repeat: no-repeat;
        
    }
    
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    /* Header */
    header {
        background-image: url(../img/background_1.png);
        background-size: 95%;
        background-repeat: no-repeat;
        background-position-x: 55px;
        background-position-y: -4px;
    }

    /* Navbar */
    .navbar-light .navbar-nav .nav-link {
        color: #fff;
        margin-left: 30px;
    }

    /* Service Section */
    .service-card {
        padding: 9px;
        border-radius: 27px;
        border: none;
        box-shadow: 1px 3px 10px -1px lightgrey;
        width: 81%;
    }
    .service {
        background-image: url(../img/background_2.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-x: -4px;
        background-position-y: -73px;
        padding-bottom: 20px;
    }

    /* Work Section */
    .work-col img {
        width: 70%;
        height: 380px;
        border-radius: 20px;
    }
    .work {
        padding: 60px 0 50px;
        background-image: url(../img/background_3.png);
        background-position: right;
        background-size: 100% 112%;
        background-repeat: no-repeat;
        background-position-y: -44px;
    }

    /* Testimonial Section */
    .testimonial {
        margin: 50px 0 60px;
        background-image: url(../img/background_5.png);
        background-repeat: no-repeat;
        background-size: 104%;
        background-position-y: 190px;
        padding: 50px 0 50px;
    }
    .testimonial-text{
        margin-top: 25px;
    }
    .testimonial-card {
        width: 100% !important;
        padding: 20px;
        height: 321px;
        margin-top: 24px;
        border: none;
        box-shadow: 1px 0px 17px lightgrey;
    }

    /* Contact Section */
    .contact input {
        border: none;
        outline: none;
        color: lightsalmon;
        box-shadow: 1px 7px 8px lightgrey;
        padding: 7px 20px 10px;
        margin-right: 25px;
        width: 40%;
        border-radius: 20px;
    }
    .contact{
        padding: 120px 0 120px;
        background-image: url(../img/background_4.png);
        background-size: 100% 104%;
        background-repeat: no-repeat;
    }
    
    
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
    /* Header */
    header{
        background-image: url(../img/background_1.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-x: right;
        margin-top: -2px;
     }

     /* Navbar */
     .navbar-light .navbar-nav .nav-link {
        color: #fff;
        margin-left: 30px;
    }

    /* Service Section */
     .service {
        background-image: url(../img/background_2.png);
        background-size: 95%;
        background-repeat: no-repeat;
        background-position-x: -4px;
        background-position-y: -140px;
        padding: 40px 0 80px;
    }
    .service-card {
        padding: 9px;
        border-radius: 27px;
        border: none;
        box-shadow: 1px 3px 10px -1px lightgrey;
        width: 68%;
    }

    /* Work Section */
    .work-col img {
        width: 70%;
        border-radius: 20px;
    }
    .work {
        padding: 60px 0 70px;
        background-image: url(../img/background_3.png);
        background-position: right;
        background-size: 94% 112%;
        background-repeat: no-repeat;
        background-position-y: -44px;
    }

    /* Testimonial Section */
    .testimonial{      
        margin: 50px 0 60px;
        background-image: url(../img/background_5.png);
        background-repeat: no-repeat;
        background-size: 113%;
        background-position-y: 40px;
        padding: 50px 0 50px;
    }
    .testimonial-text{
        margin-top: 25px;
    }

    /* Contact Section */
    .contact input {
        border: none;
        outline: none;
        color: lightsalmon;
        box-shadow: 1px 7px 8px lightgrey;
        padding: 7px 20px 10px;
        margin-right: 25px;
        width: 40%;
        border-radius: 20px;
    }
    .contact{
        padding: 120px 0 180px;
        background-image: url(../img/background_4.png);
        background-size: 100% 104%;
        background-repeat: no-repeat;
        
    }
    
    }